body {
    /*background-image: url('https://i.pinimg.com/1200x/44/3d/19/443d19adbb6b1bae567680bbdf3c681e.jpg');  URL de tu imagen 
    background-size: cover; /* Hace que la imagen cubra toda la pantalla 
    background-repeat: no-repeat; /* Evita que la imagen se repita 
    background-position: center center; /* Centra la imagen en la página */
    /*color: #fff; /* Letras en blanco para contrastar con la imagen */
    /*height: 100vh;  Asegúrate de que el body ocupe toda la altura de la ventana */
    margin: 0; /* Elimina el margen predeterminado del body */
}

main {
    margin: 0; /* Elimina margen del main */
    padding: 0; /* Elimina relleno del main */
    overflow:hidden;
    text-align:center;
}

.banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-position: top;
    background-position-y: -150px;
    padding: 0;
    color: white;
    text-align:center;
    margin-bottom: 40px;

}

#filtro {
    width: 100%;
    height: 100%;
    background-color: #0000008a;
    box-shadow: 0px 0px 70px 0px #000 inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#filtro a{
    font-weight:400;
}

.form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #e6e6e6;
}

.form h3{
    margin-bottom: 20px;
}


/* Cambia el color de los enlaces si lo deseas */
    a {
    color: #fff; /* Enlaces en blanco */
}

a:hover {
    color: #c0c0c0; /* Enlaces en gris claro al pasar el ratón */
}


.descripcion {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 10px;
    font-size: 18px;
}

.detalles-container {
    display: flex;
    flex-wrap: nowrap;
}

.detalles {
    font-size: 20px;
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.detalles span {
    font-weight: 400;
}

.detalles-info {
    width: 60%;
    padding: 25px;
}

.detalles-img{
    width: 30%;
}


.marco {
    min-height: 600px;
}

img {
    width: auto !important;
    height: 100%;
}

.btn-form {
    display: block!important;
    margin: auto;
    margin-top: 20px;
}

.form-user{
    align-items:start;
}

.form-user span{
    margin: 5px 10px;
}

.input-form {
    margin-bottom: 15px
}

footer {
    width: 100%;
    border-top:1px solid #ccc ;
    margin-top:60px;
    padding-top:40px;
    text-align: center;

}

